<h1>Edit Link</h1>

<%= form_for(:link, url: links_path) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.password_field :url %>

  <%= f.submit "Update" %>
<% end %>
