<h1>Links Index</h1>

<% if current_user %>
  <%= link_to "Sign Out", logout_path, method: :delete %>
<% end %>

<h3>Submit New Link</h3>

<%= form_for(:link, url: links_path) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.submit "Submit Link" %>
<% end %>

<ul>
<% @links.each do |link| %>
<div id='<%= link.id%>' class=read-'<%= link.read%>'>
  <li><%= link.title %></li>
  <li><%= link.url %></li>

  <% if link.is_read %>
    <li>Mark As Unread
      <input type="checkbox" class="status-box" value="false"/>
    </li>
  <% else %>
    <li>Mark As Read
      <input type="checkbox" class="status-box" value="true"/>
    </li>
  <% end %>

  <li><%= link_to "Edit", edit_link_path(link) %></li>
</div>
<% end %>
</ul>
