<h1>Links Index</h1>

<% if current_user %>
  <%= link_to "Sign Out", logout_path, method: :delete %>
<% end %>

<div class="container">
  <h4>Submit New Link</h4>

  <%= form_for(:link, url: links_path) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>

    <%= f.submit "Submit Link" %>
  <% end %>

  <div class="filter">
    <label>Filter By Status</label>
    <%= select :link, :filter_status, ["Read", "Unread"], {include_blank: true} %>
  </div>

  <div class="form-group">
    <h4><label>Search</label><h4>
    <textarea class="form-control" id='search-box' rows="1"></textarea>
  </div>

  <button class="btn btn-warning" id="sorted-listing">Sort Alphabetically</button>

</div>


<ul class="links-listing">

<% @links.each do |link| %>
<div id='<%= link.id%>' class='<%= link.read%>' >

  <h4 class="unread" id= '<%= link.id%>' >Mark As Read
    <input type="checkbox" class="status-box" value="false"/>
  </h4>

  <h4 class="read" id= '<%= link.id%>' style="display:none;">Mark As Unread
    <input type="checkbox" class="status-box" value="true"/>
  </h4>

  <li class="title"><%= link.title %></li>
  <li><%= link.url %></li>

  <li><%= link_to "Edit", edit_link_path(link) %></li>
</div>

<% end %>
</ul>

<ul class="sorted-listing">
</ul>
