<h1>Links Index</h1>

<% if current_user %>
  <%= link_to "Sign Out", logout_path, method: :delete %>
<% end %>

<div class="container">
  <h4>Submit New Link</h4>

  <%= form_for(:link, url: links_path) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>

    <%= f.submit "Submit Link" %>
  <% end %>

  <div class="filter">
    <label>Filter By Status</label>
    <%= select :link, :filter_status, ["Read", "Unread"], {include_blank: true} %>
  </div>

  <div class="form-group">
    <h4><label>Search</label><h4>
    <textarea class="form-control" id='search-box' rows="1"></textarea>
  </div>

</div>

<%= react_component 'Links', { links: @links } %>
